.input {
    width: 100%;
    margin-bottom: 15px;

    &__field {
        box-sizing: border-box;
        width: 100%;
        height: 37px;
        margin: 0;
        padding: 0 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid #F2F2F2;
        font-size: 13px;
    }

    &__error {
        height: 7px;
        font-size: 7px;
        padding: 3px 0;
        margin: 0;
        text-align: right;
        color: red;
    }

    &_error {
        .input {
            &__field {
                border-bottom: 1px solid red;
            }
        }
    }
}
