.modal {
    max-width: 100%;
    width: 375px;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 20px;
    pointer-events: auto;

    &__header {
        display: grid;
        grid-template-columns: 1fr min-content;
        column-gap: 10px;
        align-items: center;
        margin-bottom: 10px;
    }

    &__title {
        color: #101010;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
    }

    &__user-list {
        padding-top: 15px;
    }
}
