extends shared/layouts/main

block content
    div(class='home')
        ul(class='home__navigation navigation')
            li(class='navigation__item')
                a(class='navigation__link' href='./?page=registration') Регистрация
            li(class='navigation__item')
                a(class='navigation__link' href='./?page=authorization') Авторизация

            li(class='navigation__item')
                a(class='navigation__link' href='./?page=settings') Настройки пользователя
            li(class='navigation__item')
                a(class='navigation__link' href='./?page=chat') Список чатов и лента переписки
            li(class='navigation__item')
                a(class='navigation__link' href='./?page=404') 404
            li(class='navigation__item')
                a(class='navigation__link' href='./?page=500') 5**

