<!DOCTYPE html>
html(lang="en")
    head
        title Messenger
        block links
            link(rel="stylesheet", href="../main.scss")
        block scripts
    body(class='app')
        block content
        script(type='module' src='../main.ts')
